{% set plugin = craft.plugins.getPlugin('slackNotifications', false) %}

{% for itegration in integrations %}
    {% set settings = itegration.getSettings() %}

    <section class="template-tout counter-tout theme-white item" data-colspan="1">
        <div class="wrapper">
            <main>
                <div class="tout-icon">
                    {% include 'formbuilder/_includes/icons/slack' ignore missing %}
                </div>
                <span class="tout-title">{{ "Slack Notifications" |t }}</span>

                <p class="tout-copy">{{ "Enabling will allow admin to setup slack notification on form submissions." |t }}</p>

                {% if plugin %}
                    {% if plugin.isEnabled() and plugin.isInstalled() %}
                        {% if settings.webhookUrl != '' %}
                            <p class="label-green">Configured!</p>
                        {% else %}
                            <a href="{{ url('/admin/settings/plugins/slacknotifications') }}" class="btns btn-info integration-configure">{{ "Configure" |t }}</a>
                        {% endif %}
                    {% else %}
                        {% if not plugin.isEnabled() %}
                            {% if not plugin.isInstalled() %}
                                <p class="label-red">Not Installed</p>
                                <a href="{{ url('/admin/settings/plugins') }}" class="btns btn-info">{{ "Go Install" |t }}</a>
                            {% else %}
                                <p class="label-yellow">Not Enabled</p>
                                <a href="{{ url('/admin/settings/plugins') }}" class="btns btn-info">{{ "Go Enable" |t }}</a>
                            {% endif %}
                        {% endif %}
                    {% endif %}
                {% else %}
                    <a href="https://githubsdfasdkfja.com" class="btns btn-info">{{ "Download" |t }}</a>
                {% endif %}

            </main>
        </div>
    </section>

{% endfor %}