{% include 'formbuilder/_includes/_navigation.twig' ignore missing %}

{% includeCssResource "formbuilder/css/formbuilder.css" %}
{% includeJsResource "formbuilder/js/formbuilder.js" %}
{% includeJsResource "formbuilder/js/fontawesome/fa-regular.min.js" %}
{% includeJsResource "formbuilder/js/fontawesome/fa-light.min.js" %}
{% includeJsResource "formbuilder/js/fontawesome/fa-solid.min.js" %}
{% includeJsResource "formbuilder/js/fontawesome/fontawesome.js" %}

<section id="header">
    <div class="page-header">
        <h1>{{ title }}</h1>
    </div>

    {% if createForm is defined and createForm %}
        {% set newFormUrl = url('formbuilder/forms/new', (groupId is defined ? { groupId: groupId } : { groupId: 1 })) %}
        <a href="{{ newFormUrl }}" id="new-form-btn" class="btns btn-info submit"><i class="fas fa-plus"></i><span class="txt">{{ "Create New Form"|t }}</span></a>
    {% endif %}

    {% if createNotification is defined and createNotification %}
        {% set newNotificationUrl = url('formbuilder/notifications/new', (type is defined ? { type: type } : { type: 'email' })) %}
        <a href="{{ newNotificationUrl }}" id="new-form-btn" class="btns btn-info submit"><i class="fas fa-plus"></i><span class="txt">{{ "Create New Notification"|t }}</span></a>
    {% endif %}

</section>

<script type="text/javascript">
    window.FormBuilder = {
        pageTitle: '{{ _context.title is defined ? _context.title : '' }}'
    }
</script>