{% includeJsResource "formbuilder/js/packs/regular.min.js" %}
{% includeJsResource "formbuilder/js/packs/light.min.js" %}
{% includeJsResource "formbuilder/js/packs/solid.min.js" %}
{% includeJsResource "formbuilder/js/fontawesome.min.js" %}
{% includeJsResource "formbuilder/js/plugins.js" %}
{% includeJsResource "formbuilder/js/formbuilder.js" %}
{% includeCssResource "formbuilder/css/formbuilder.css" %}

{% set adminUrl = craft.formBuilder.adminUrl() %}

<div class="plugin-status">
    <span class="status-text">BETA</span>
</div>

<div class="page-header">
    <div class="logo">
        {% include 'formbuilder/_includes/icons/formbuilder-icon.twig' ignore missing %}
    </div>

    <h1>{{ title }}</h1>
</div>

{% if createForm is defined and createForm %}
    {% set newFormUrl = url('formbuilder/forms/new', (groupId is defined ? { groupId: groupId } : { groupId: 1 })) %}
    <a href="{{ newFormUrl }}" id="new-form-btn" class="btns btn-info submit add icon">{{ "Create New Form"|t }}</a>
{% endif %}

{% if createTemplate is defined and createTemplate %}
    <div class="button-wrapper">
        <a href="{{ url('formbuilder/templates/new') }}" class="btns btn-info">{{ "Create New Template"|t }}</a>
    </div>
{% endif %}

<script type="text/javascript">
    window.FormBuilder = {
        pageTitle: '{{ _context.title is defined ? _context.title : '' }}',
        unreadCount: '{{ craft.formBuilder.getUnreadEntries() }}',
        adminUrl: '{{ adminUrl }}'
    }
</script>