{% set adminUrl = craft.formBuilder.adminUrl() %}

<ul class="subnav">
    <li>
        <a href="{{ adminUrl }}/dashboard" {% if title == 'Dashboard' %}class="sel"{% endif %}><i class="far fa-tachometer"></i> {{ "Dashboard" |t }}</a>
    </li>

    <li>
        <a href="{{ adminUrl }}/forms" {% if title == 'Forms' %}class="sel"{% endif %}><i class="far fa-server"></i> {{ "Forms" |t }}</a>
    </li>

    <li>
        <a href="{{ adminUrl }}/entries" {% if title == 'Entries' %}class="sel"{% endif %}>
            <i class="far fa-clipboard"></i> {{ "Entries" |t }}
            <span class="total-entry-count"></span>
        </a>
    </li>

    {% if craft.plugins.getPlugin('formbuilderemailnotifications') and craft.plugins.getPlugin('formbuilderemailnotifications').isInstalled() %}
    <li>
        <a href="{{ adminUrl }}/templates" {% if title == 'Templates' %}class="sel"{% endif %}><i class="far fa-paint-brush"></i> {{ "Templates" |t }}</a>
    </li>
    {% endif %}

    <li>
        <a href="{{ adminUrl }}/settings" {% if title == 'Settings' %}class="sel"{% endif %}><i class="far fa-cogs"></i> {{ "Settings" |t }}</a>
    </li>

    <li>
        <a href="{{ adminUrl }}/forms/new?groupId=1"><i class="fas fa-plus"></i> {{ "Create New Form" |t }}</a>
    </li>
</ul>