{% extends "_layouts/cp" %}

{% hook 'formBuilder.prepTemplate' %}

{% set elementType = 'FormBuilder_Entry' %}
{% set selectedSubnavItem = "entries" %}
{% set bodyClass = 'formbuilder fb-entry' %}

{% block pageHeader %}
    {% include 'formbuilder/_includes/_header' ignore missing with { title: title } %}
{% endblock %}

{% block content %}
    {% set files = {} %}
    {% set fileIds = {} %}

    <section class="submission-container grid">

        <div class="item" data-colspan="2">
            <div class="submission-details-tout theme-white">
                <header>
                    <span class="tout-title">{{ "Submission Content"|t }}</span>
                    <span class="right">
                        <span class="tout-date">{{ entry.dateCreated | date('F jS, Y') }}</span>
                        <a href="#" class="submission-action-trigger" data-type="submission" data-form-id="{{ form.id }}" data-entry-id="{{ entry.id }}">
                            <svg width="22" height="5" viewBox="0 0 22 5" xmlns="http://www.w3.org/2000/svg">
                              <path d="M19.578 5c-1.337 0-2.422-1.119-2.422-2.5S18.241 0 19.578 0C20.916 0 22 1.119 22 2.5S20.916 5 19.578 5zM11 5C9.671 5 8.594 3.881 8.594 2.5S9.671 0 11 0c1.329 0 2.406 1.119 2.406 2.5S12.329 5 11 5zM2.422 5C1.084 5 0 3.881 0 2.5S1.084 0 2.422 0c1.337 0 2.422 1.119 2.422 2.5S3.759 5 2.422 5z" fill="#D0D7DD" fill-rule="evenodd"/>
                            </svg>
                        </a>
                    </span>
                </header>
                <div class="body no-pad">
                    {% for tab in fieldTabs %}
                        {% set fields = tab.getFields() %}

                        {% for field in fields %}
                            {% set self = field.getField() %}
                            {% set handle = self.handle %}

                            <div class="field">
                                <span class="entry-label">{{ self.name }}</span>
                                {% if self.type == 'Assets' %}
                                    {% set files = files|merge(attribute(entry, handle).find()) %}
                                    {% if files %}
                                        {% for file in files %}
                                            {% if file.id not in fileIds %}
                                                {% set fileIds = fileIds|merge([file.id]) %}
                                            {% endif %}
                                        {% endfor %}
                                        <a href="#" class="submission-action-trigger right" data-type="uploads" data-entry-id="{{ entry.id }}" data-form-id="{{ form.id }}" data-file-ids="{{ fileIds |json_encode() }}">
                                            <svg width="22" height="5" viewBox="0 0 22 5" xmlns="http://www.w3.org/2000/svg">
                                              <path d="M19.578 5c-1.337 0-2.422-1.119-2.422-2.5S18.241 0 19.578 0C20.916 0 22 1.119 22 2.5S20.916 5 19.578 5zM11 5C9.671 5 8.594 3.881 8.594 2.5S9.671 0 11 0c1.329 0 2.406 1.119 2.406 2.5S12.329 5 11 5zM2.422 5C1.084 5 0 3.881 0 2.5S1.084 0 2.422 0c1.337 0 2.422 1.119 2.422 2.5S3.759 5 2.422 5z" fill="#D0D7DD" fill-rule="evenodd"/>
                                            </svg>
                                        </a>
                                        <div class="asset-container upload-details">
                                            <table class="data fullwidth">
                                                {% for file in files %}

                                                    {% if file %}
                                                        <tr data-id="{{ file.id }}" tabindex="0">
                                                            <td data-title="Title">
                                                                <div class="element small hasthumb" data-id="{{ file.id }}" data-locale="{{ file.locale }}" data-status="{{ file.getStatus() }}" data-label="{{ file.title }}" data-url="{{ file.url }}" data-editable="{{ file.isEditable() }}">
                                                                    <div class="elementthumb">
                                                                        <img sizes="30px" srcset="{{ file.getThumbUrl(30) }} 30w, {{ file.getThumbUrl(60) }} 60w, {{ file.getThumbUrl(100) }} 100w, {{ file.getThumbUrl(200) }} 200w" alt="{{ file.title }}">
                                                                    </div>
                                                                    <div class="label">
                                                                        <span class="title">{{ file.title }}</span>
                                                                    </div>
                                                                </div>
                                                            </td>
                                                        </tr>
                                                    {% else %}
                                                        <p class="no-files">Looks like files were removed!</p>
                                                    {% endif %}

                                                {% endfor %}
                                            </table>
                                        </div>
                                    {% endif %}
                                {% elseif self.type == 'Checkboxes' %}
                                    <div class="value-results">
                                        {% for item in attribute(entry, handle) %}
                                            <span class="entry-value tag-value">{{ item.label }}</span>
                                        {% endfor %}
                                    </div>
                                {% elseif self.type == 'RadioButtons' %}
                                    <span class="entry-value">{{ attribute(entry, handle) }}</span>
                                {% elseif self.type == 'Dropdown' %}
                                    <span class="entry-value">{{ attribute(entry, handle) }}</span>
                                {% elseif self.type == 'MultiSelect' %}
                                    <div class="value-results">
                                        {% for item in attribute(entry, handle) %}
                                            <span class="entry-value tag-value">{{ item.label }}</span>
                                        {% endfor %}
                                    </div>
                                {% elseif self.type == 'Number' %}
                                    <span class="entry-value">{{ attribute(entry, handle) }}</span>
                                {% elseif self.type == 'PlainText' %}
                                    <span class="entry-value">{{ attribute(entry, handle) }}</span>
                                {% endif %}
                            </div>
                        {% endfor %}
                    {% endfor %}
                </div>
            </div>
        </div>

        <div class="item" data-colspan="1">
            <div class="submission-details-tout theme-moss">
                <header>
                    <span class="tout-title">Form Details</span>
                    <a href="#" class="submission-action-trigger right" data-type="form" data-form-id="{{ form.id }}" data-entry-id="{{ entry.id }}">
                        {% include 'formbuilder/_includes/icons/dots' %}
                    </a>
                </header>

                <div class="body no-pad">
                    <div class="field theme-moss" data-cpfieldlinks="true">
                        <span class="entry-label">Form</span>
                        <span class="entry-value">{{ form.name }}</span>
                    </div>
                    <div class="field theme-moss" data-cpfieldlinks="true">
                        <span class="entry-label">IP Address</span>
                        <span class="entry-value">{{ entry.ipAddress }}</span>
                    </div>
                </div>

            </div>
        </div>

    </section>

    {% includeJsResource "formbuilder/js/entries.js" %}

    {% includejs %}
    new Craft.FileUploadsIndex('Asset', $('.asset-container'), {
        context:        'index',
        storageKey:     'elementindex.Asset',
        criteria:       { localeEnabled: null }
    });
    {% endincludejs %}

{% endblock %}